{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="about-us-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="about-us-logo">
                            <img src="{% static "deps/images/about/logo.png" %}" alt="logo">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="about-us-content">
                            <h3>О компании</h3>
                            <p>Концепция бизнеса Norda store заключается в том, чтобы предлагать моду и качество по лучшей цене. С момента своего основания в 2018 году он превратился в один из лучших модных магазинов России.</p>
                            <div class="signature">
                                <h2>David Moye</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-area pb-120">
            <div class="container">
                <div class="service-wrap-border service-wrap-padding-3">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12 service-border-1">
                            <div class="single-service-wrap-2 mb-30">
                                <div class="service-icon-2 icon-red">
                                    <i class="icon-cursor"></i>
                                </div>
                                <div class="service-content-2">
                                    <h3>Бесплатная доставка</h3>
                                    <p>На сумму свыше 9999 ₽</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12 service-border-1 service-border-1-none-md">
                            <div class="single-service-wrap-2 mb-30">
                                <div class="service-icon-2 icon-red">
                                    <i class="icon-refresh "></i>
                                </div>
                                <div class="service-content-2">
                                    <h3>Возврат через 90 дней</h3>
                                    <p>Для решения любых проблем</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12 service-border-1">
                            <div class="single-service-wrap-2 mb-30">
                                <div class="service-icon-2 icon-red">
                                    <i class="icon-credit-card "></i>
                                </div>
                                <div class="service-content-2">
                                    <h3>Безопасный платеж</h3>
                                    <p>100% Гарантия</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-service-wrap-2 mb-30">
                                <div class="service-icon-2 icon-red">
                                    <i class="icon-earphones "></i>
                                </div>
                                <div class="service-content-2">
                                    <h3>Поддержка 24 часа</h3>
                                    <p>Круглосуточная поддежка</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-area pb-90">
            <div class="container">
                <div class="section-title mb-45 text-center">
                    <h2>Наша команда</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <img src="{% static "deps/images/team/team-1.jpg" %}" alt="">
                                <div class="team-action">
                                    <a class="facebook" href="#">
                                        <i class="social_facebook"></i>
                                    </a>
                                    <a class="twitter" href="#">
                                        <i class="social_twitter"></i>
                                    </a>
                                    <a class="instagram" href="#">
                                        <i class="social_instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Михаил Зубенко</h4>
                                <span>Директор</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <img src="{% static "deps/images/team/team-2.jpg" %}" alt="">
                                <div class="team-action">
                                    <a class="facebook" href="#">
                                        <i class="social_facebook"></i>
                                    </a>
                                    <a class="twitter" href="#">
                                        <i class="social_twitter"></i>
                                    </a>
                                    <a class="instagram" href="#">
                                        <i class="social_instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Мария Лесных</h4>
                                <span>Дизайнер</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <img src="{% static "deps/images/team/team-3.jpg" %}" alt="">
                                <div class="team-action">
                                    <a class="facebook" href="#">
                                        <i class="social_facebook"></i>
                                    </a>
                                    <a class="twitter" href="#">
                                        <i class="social_twitter"></i>
                                    </a>
                                    <a class="instagram" href="#">
                                        <i class="social_instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Дмитрий Смирнов</h4>
                                <span>SEO-специалист </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <img src="{% static "deps/images/team/team-4.jpg" %}" alt="">
                                <div class="team-action">
                                    <a class="facebook" href="#">
                                        <i class="social_facebook"></i>
                                    </a>
                                    <a class="twitter" href="#">
                                        <i class="social_twitter"></i>
                                    </a>
                                    <a class="instagram" href="#">
                                        <i class="social_instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Петр Иванов</h4>
                                <span>Отдел продаж</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
        